body {
    margin-right: 20px;
    font-family: sans-serif;
}

header {
    padding-bottom: 10px;
    text-align: center;
    font-size: 25px;
}

#visualization {
    border: 1px solid;
    float: left;
    background-color: #eeeeee;
}
#hours_axis {
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-right: 5px;
}
#hours_axis li{
    height: 17px;
    text-align: right;
    padding-top: 4px;
    font-size: 11px;
}
.day {
    float: left;
}
#visualization > :nth-child(even) {
    border-right: 1px solid #ddd;

}
#visualization > :nth-child(odd) {
    border-right: 1px solid #fff;

}

#visualization > :last-child {
    border-right: none;
}
.day > :nth-child(even) {
    border-bottom: 1px solid #ddd;

}
.day > :nth-child(odd) {
    border-bottom: 1px solid #fff;

}

.day > :last-child {
    border-bottom: none;
}
.hour{
    width: 20px;
    height: 20px;
}

footer {
    clear: both;
    padding-top: 30px;
}
.square span {
    display: none;
}
.square {
    height: 5px;
}
.square.classic {
    background-color: #774306;
}

.square.pop {
    background-color: #FE0000;
}

.square.latin {
    background-color: #97253F;
}
.square.rock {
    background-color: #016AAB;
}

.square.hip-hop {
    background-color: #019F4C;
}

.square.electronic {
    background-color: #019F4C;
}

.square.indie {
    background-color: #6869A9;
}

.square.other {
    background-color: #F0C896;
}