<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>DMKM Visualization project - About</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/default.css') }}">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

</head>
<body class="about">
    <header>
        EM-DMKM Visualization Project - About
    </header>
    <div class="content extra">
        This page was developed as a part of the class "Visual Data Mining" for the EM-DMKM Master.<br/><br/><br/>
        Development group:
        <ul>
            <li>Gabriela Hernandez Larios</li>
            <li>Maira Machado Ladeira</li>
            <li>Mehreen Ikram</li>
        </ul>
        <strong>Explanation of the project: </strong> Add here<br><br>
        <strong>Main Visualization: </strong> Add Explanations<br><br>
        <strong>Daily frequency of genre histogram: </strong>Add Explanations<br><br>
        <strong>Hours frequency of genre histogram: </strong>Add Explanations

    </div>
    <footer>
        <ul id="extra_pages">
            <li><a href="/">Back</a></li>
            <li><a href="people">People</a></li>
        </ul>
    </footer>
</body>
</html>