<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Music Insights - Comparison</title>
    <head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='img/favicon.jpg') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/default.css') }}">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="{{ url_for('static', filename='js/comparison.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wordcloud2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/venn.min.js') }}"></script>

</head>
<body class="comparison">
    <header><span class="logo"></span> Comparison of data</header>
    <div class="content">
        <div class="favorite_artists">
            <h3>Favorite Artists</h3>
            <div class="word_cloud">
                <h5>Gabriela</h5>
                <canvas id="gabriela"></canvas>
            </div>
            <div class="word_cloud">
                <h5>Maira</h5>
                <canvas id="maira"></canvas>
            </div>
            <div class="word_cloud">
                <h5>Mehreen</h5>
                <canvas id="mehreen"></canvas>
            </div>
            <ul id="genders_subtitle">
                <li><span class="jazz_blues"></span>Jazz/blues</li>
                <li><span class="pop"></span>Pop</li>
                <li><span class="metal"></span>Metal</li>
                <li><span class="rock"></span>Rock</li>
                <li><span class="hip-hop_rap"></span>Hip-hop/Rap</li>
                <li><span class="dance_electronic"></span>Dance/Electronic</li>
                <li><span class="alternative_indie"></span>Alternative/Indie</li>
                <li><span class="reb_soul"></span>R&B/Soul</li>
                <li><span class="other"></span>Other</li>
            </ul>
        </div>
        <div>
            <h3>Venn Diagram of the Artists</h3>
            <div id="venn"></div>
        </div>
        <div id="hours_analysis" class="comparison">
            <h3 class="histogram_title">Hours Histogram Representation</h3>
            <ul class="buttons">
                <li class="title">Evolution lines:</li>
                <li class="button getLine selected" id="all_line" data-id="total">All Genres</li>
                <li class="button getLine" id="show_jazz_line" data-id="jazz_blues">Jazz/Blues</li>
                <li class="button getLine" id="show_pop_line" data-id="pop">Pop</li>
                <li class="button getLine" id="show_metal_line" data-id="metal">Metal</li>
                <li class="button getLine" id="show_rock_line" data-id="rock">Rock</li>
                <li class="button getLine" id="show_hip-hop_line" data-id="hip-hop_rap">Hip-hop/Rap</li>
                <li class="button getLine" id="show_dance_line" data-id="dance_electronic">Dance/Electronic</li>
                <li class="button getLine" id="show_alternative_line" data-id="alternative_indie">Alternative/indie</li>
                <li class="button getLine" id="show_reb_line" data-id="reb_soul">R&B/Soul</li>
                <li class="button getLine" id="show_others_line" data-id="other">Others</li>
            </ul>

            <ul id="hours_frequency_axis"></ul>
            <div id="hours_histogram">
                <div class="hour hour_0"></div>
                <div class="hour hour_1"></div>
                <div class="hour hour_2"></div>
                <div class="hour hour_3"></div>
                <div class="hour hour_4"></div>
                <div class="hour hour_5"></div>
                <div class="hour hour_6"></div>
                <div class="hour hour_7"></div>
                <div class="hour hour_8"></div>
                <div class="hour hour_9"></div>
                <div class="hour hour_10"></div>
                <div class="hour hour_11"></div>
                <div class="hour hour_12"></div>
                <div class="hour hour_13"></div>
                <div class="hour hour_14"></div>
                <div class="hour hour_15"></div>
                <div class="hour hour_16"></div>
                <div class="hour hour_17"></div>
                <div class="hour hour_18"></div>
                <div class="hour hour_19"></div>
                <div class="hour hour_20"></div>
                <div class="hour hour_21"></div>
                <div class="hour hour_22"></div>
                <div class="hour hour_23"></div>
                <canvas id="histogram_gabriela" class="histogram_canvas"></canvas>
                <canvas id="histogram_maira" class="histogram_canvas"></canvas>
                <canvas id="histogram_mehreen" class="histogram_canvas"></canvas>
                <h5 class="title">All Genres</h5>
                <div class="subtitles">
                    <div class="gabriela_sub"><span></span>Gabriela</div>
                    <div class="maira_sub"><span></span>Maira</div>
                    <div class="mehreen_sub"><span></span>Mehreen</div>
                </div>
            </div>
            <ul id="hours_interval_axis">
                <li>0</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li>16</li>
                <li>17</li>
                <li>18</li>
                <li>19</li>
                <li>20</li>
                <li>21</li>
                <li>22</li>
                <li>23</li>
            </ul>
        </div>
    </div>
    <footer>
        <ul id="extra_pages">
            <li><a href="/">Start Page</a></li>
            <li><a href="about">About</a></li>
            <li><a href="people">People</a></li>
        </ul>
    </footer>
    <script>
        var gabriela_songs = {{gabriela_songs|safe}};
        var maira_songs = {{maira_songs|safe}};
        var mehreen_songs = {{mehreen_songs|safe}};
        var gabriela_artists = {{gabriela_artists|safe}};
        var maira_artists = {{maira_artists|safe}};
        var mehreen_artists = {{mehreen_artists|safe}};
        var artists_genres = {{artists_genres|safe}};
        crete_word_clouds();
        create_venn_diagram();
        initialize_frequencies();
        create_hours_comparison('total');
    </script>

</body>
</html>