<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>DMKM Visualization project</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/default.css') }}">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main_visualization.js') }}"></script>

</head>
<body>
    <header>EM-DMKM Visualization Project</header>
    <div class="content">
        <ul id="hours_axis">
            <li>0</li>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
        </ul>
        <div id="visualization">
        </div>
        <ul class="days_axis"></ul>
        <ul class="months_axis"></ul>
        <ul class="years_axis"></ul>
        <h3 id="histogram_title">Histogram Representation</h3>
        <div id="histogram_div">
            <div id="frequency"></div>
            <div id="histogram"></div>
            <ul class="days_axis"></ul>
            <ul class="months_axis"></ul>
            <ul class="years_axis"></ul>
        </div>
    </div>
    <footer>
        <ul id="data-source">
            <li id="mehreenikram">Mehreen</li>
            <li id="ladeira_maira">Maíra</li>
            <li id="gabrielahrlr">Gabriela</li>
            <li id="ernestollamas">Ernesto</li>
        </ul>
    </footer>
    <script>
        $(function(){
            songs = [];
            var s = {};
            var date = '';
            var months = ['January','February','March','April','May','June','July','August',
                          'September','October','November','December'];
            {% for song in songs %}
            var date_ts = {{song[4]}};
            if (date_ts != 0) {
                date = new Date({{song[4]}}*1000)
                var minutes = "0" + date.getMinutes();
                s = {
                    name: "{{song[0]}}",
                    gender: "{{song[1]}}",
                    artist: "{{song[2]}}",
                    album: "{{song[3]}}",
                    day: date.getDate(),
                    month: months[date.getMonth()],
                    year: date.getFullYear(),
                    hour: date.getHours(),
                    time: date.getHours()+ ':' + minutes.substr(minutes.length-2),
                    timestamp: date,
                    icon:  "{{song[5]}}"
                }
                songs.push(s);
            }
            {% endfor %}
            console.log(songs);
            render_main_visualization(songs)
        });

    </script>
</body>
</html>