<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>DMKM Visualization project</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/default.css') }}">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.canvasjs.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main_visualization.js') }}"></script>

</head>
<body class="people">
    <header>EM-DMKM Visualization Project</header>
    <div class="content">
    </div>
    <footer>

        <ul id="extra_pages">
            <li><a href="about">About</a></li>
            <li><a href="/">Back</a></li>
        </ul>
    </footer>
</body>
</html>